.day {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 3% 67% 30%;
    border: 1px var(--color-border-primary) solid;
    border-radius: 3px;
    background-color: var(--color-white-smoke);
}

.day-date {
    grid-column: span 2;
    display: flex;
    justify-self: center;
    border: 1px var(--color-border-primary) solid;
    border-radius: 5px;
    background-color: var(--color-light-grey);
    padding: 3px;
}

.day__tasks-block {
    padding: 10px;
    grid-row: 2/2;
    grid-column: 1/1;
    display: grid;
    grid-template-rows: 30% 70%;
}

.day__schedule-block {
    padding: 10px;
    grid-row: 2/2;
    grid-column: 2/2;
    display: grid;
    grid-template-rows: 80% 20%;
}

.day__insights-block {
    padding: 10px;
    display: flex;
    grid-column: span 2;
    grid-row: 3/3;
    min-width: 500px;
}