.day {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    border: 1px var(--color-black) solid;
    border-radius: 3px;
}

.day__tasks-block {
    padding: 10px;
    grid-row: 1/1;
    grid-column: 1/1;
    display: grid;
    grid-template-rows: 30% 70%;
}

.day__schedule-block {
    padding: 10px;
    grid-row: 1/1;
    grid-column: 2/2;
    display: grid;
    grid-template-rows: 80% 20%;
}

.day__insights-block {
    padding: 10px;
    display: flex;
    grid-column: span 2;
    grid-row: 2/2;
    min-width: 500px;
}