.insights {
    display: grid;
    grid-template-rows: 1fr 30px;
}

.insights__list {
    border: 1px var(--color-border-primary) solid;
    border-radius: 3px;
    padding: 5px;
    height: 130px;
    min-width: 700px;
    overflow: auto;
}

.insights__list_text-center {
    align-self: center;
}

.insights__button {
    height: 30px;
    padding: 3px;
    color: var(--color-white);
    font-weight: bold;
    border-radius: 5px;
    border: 1px var(--color-black) solid;
}

.insights__button_add {
    background-color: var(--color-midnight);
}

.insights__button_add:hover {
    background: var(--color-dark-midnight);
}

.insights__button_remove {
    background-color: var(--color-tomato);
}

.insights__button_remove:hover {
    background-color: var(--color-dark-orange);
}

li.insights__list_with-pads {
    display: grid;
    grid-template-columns: 3% 80% 15%;
    column-gap: 5px;
}

div.insights__list > ul {
    list-style-type: none;
    padding: 5px;
    margin: 0; 
}

.button__primary {
    background-color: var(--color-midnight);
    color: var(--color-white);
    font-weight: bold;
    border-radius: 5px;
}