.insights {
    display: grid;
    grid-template-rows: 1fr 30px;
}

.insights__list {
    border: 1px var(--color-tomato) solid;
    border-radius: 3px;
    padding: 5px;
    min-height: 100px;
    min-width: 500px;
}

.insights__add-button {
    height: 30px;
    padding: 3px;
}

li.insights__list_with-pads {
    display: grid;
    grid-template-columns: 5% 65% 100px;
    column-gap: 5px;
}

ul.insights__list {
    list-style-type: none;
    padding: 5px;
    margin: 0; 
}