<h4>Insights</h4>
<div class="insights">
    <div class="insights__list">
        <ul>
            <li *ngFor="let item of viewInsights; index as i" class="insights__list_with-pads">
                <span class="insights__list_text-center">{{i+1}}</span>
                <input type="text" value={{item.insight}}>
                <button type="button" (click)="removeInsight(item.id)" class="insights__button insights__button_remove">Remove</button>
            </li>
        </ul>
    </div>
<!-- Не забывай про тип кнопки-->
    <button type="button" class="insights__button insights__button_add" (click)="addInsight()">Add insight</button>
</div>
