<div class="calendar">
    <div class="timeline">
      <div *ngFor="let time of scheduleTime" class="time-marker">{{time}}</div>
    </div>
    <div class="days">
        <div class="events">
          <ng-template *ngIf="schedule" ngFor let-block [ngForOf]="schedule.blocks">
            <div class="event securities {{addStartTime(block)}} {{addEndTime(block)}}" *ngIf="block">
                <span class="title">{{block.jobToWork.title}}</span>
                <span class="time" *ngIf="block.jobToWork.description">{{block.jobToWork.description}}</span>
            </div>
          </ng-template>
        </div>
    </div>
</div>
